@page "/"
@layout LoginLayout

<div class="text-center mt-5">
    @* To do: Logo placeholder *@
    <p class="h3 mb-3">Journal App</p>
    <p class="text-secondary mb-3">Enter your 4-digit PIN to access your Journal</p>

    <input type="password" maxlength="4" class="form-control mx-auto text-center mb-2" style="width: 100%; font-size: 2em;" />

    <p class="text-secondary mb-3">Hint: The PIN is 1234</p>

    <button class="btn btn-primary" style="width: 100%; font-size: 1.2em;"><span class="bi bi-box-arrow-in-right" style="margin-right: 0.5rem;"></span>Login</button>
</div>

@code {
	// To do: Implement login logic
}
    